.logo {
    width: 200px;
    height: 80px;
}

.logo1 {
    width: 260px;
    height: 62px;
    float: left;
}


ul li a {
    width: 130px;
    height: 35px;
    margin-left: 40px;
    top: 80px;
    font-family:Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #61A4C9;;
}
